# Your MongoDB connection string
MONGO_URI=your_mongodb_connection_string_here
# Set to 'development', 'production', or 'test'
NODE_ENV=development

# The Client ID from your Login with Amazon application
AMAZON_CLIENT_ID=your_amazon_client_id_here
# The Client Secret from your LWA application
AMAZON_CLIENT_SECRET=your_amazon_client_secret_here
# The Refresh Token obtained after the user authorizes your app
AMAZON_REFRESH_TOKEN=your_amazon_refresh_token_here

# The Marketplace ID
AMAZON_MARKETPLACE_ID=your_marketplace_id_here
# Your unique Amazon Seller/Merchant ID
AMAZON_SELLER_ID=your_seller_id_here

# The regional SP-API endpoint
SP_API_BASE_URL=https://sellingpartnerapi-na.amazon.com

# Your API Port
PORT=8080